<div class="ui compact secondary pointing menu">
    <a class="active item" href="{{url('index')}}">HOME</a>
    <a class="item" href="{{ url('projects') }}">PORTFOLIO</a>
    <a class="item" href="{{ url('blog') }}">BLOG</a>
</div>
