<ul class="ui secondary menu">
    <li class="item"><a href="{{url('index')}}">HOME</a></li>
    <li class="item"><a href="{{ url('projects') }}">PORTFOLIO</a></li>
    <li class="item"><a href="{{ url('blog') }}">BLOG</a></li>
</ul>